 # Data types and Structures questions

Q-1 What are data structures, and why are they important?           
Ans- data structures are specialized ways of organising and storing data so that it can be accessed and manipulated efficiently.

Q-2  Explain the difference between mutable and immutable data types with examples           
Ans- Mutable data structures can be change after creation while immutable data structures cannot be changed after ceration.

In [3]:
#example Q-2 
list=[10,30,"hemant",3+5j]
list[2]="ajay"
print(list)

[10, 30, 'ajay', (3+5j)]

In [4]:
#example Q-2
tuple=(10,30,40,50)
tuple[2]=100        # it gives error because tuple doesn't support item assignment

TypeError: 'tuple' object does not support item assignment

Q-3  What are the main differences between lists and tuples in Python?                       
Ans- Mutability is the main difference between lists and tuples.Lists are mutable while tuples are not mutable.

In [5]:
# Q-4 Describe how dictionaries store data.                   
# Ans- Dictionaries store data as Key value pair.
d={"name":"hemant","department":"data science","salary":100000}
d

{'name': 'hemant', 'department': 'data science', 'salary': 100000}

In [6]:
# Q-5 Why might you use a set instead of a list in Python?
#Ans-When we need only unique items we use set instead of list.
list=[1,2,3,5,5,5,7,7,8]
my_set=set(list)
print(my_set)

{1, 2, 3, 5, 7, 8}

In [7]:
#Q-6 What is a string in Python, and how is it different from a list?
#Ans- string is a sequence of characters that are used to represent and manipulate textual data.String not support item assignment while lists supports item assignment.

In [8]:
# Q-7 How do tuples ensure data integrity in Python?
# Ans- Tuples are immutable means data cannot be changed after creation.this immutability ensures data integrity by preventing accidental modifications.

In [9]:
# Q-8  What is a hash table, and how does it relate to dictionaries in Python?
#Ans- Dictionaries are created in python using hash table and keys of dictionary are immuatable or hashed or unique.

In [10]:
# Q-9  Can lists contain different data types in Python?
# Ans- yes ,list contain different data types in python.
list=[2,2.3,True,"data science",3+5j,{"depatment":"finamce"},(10,20,40)]
list

[2, 2.3, True, 'data science', (3+5j), {'depatment': 'finamce'}, (10, 20, 40)]

In [11]:
#Q-10 Explain why strings are immutable in Python.
# Ans- strings are immutable because it does not support item assignment maens we cannot update in a string at a particular index.

string2= "i am hemant learing data science from pwskills"
string2[5]="analytics"                                      #it gives error

TypeError: 'str' object does not support item assignment

In [12]:
#Q-11  What advantages do dictionaries offer over lists for certain tasks?
#Ans- when we need fast access we use dictionary because it allows direct access to values by keys.
    #The values of lists are accessed by indexing while in dictionary the values are acceseed by keys.

In [13]:
#Q-12 Describe a scenario where using a tuple would be preferable over a list.
#Ans- when we store data like aadhar card no of employees then we use tuples because once aadhar card no. create it can't change.

In [14]:
#Q-13 How do sets handle duplicate values in Python?
# Ans- set automatically removes duplicates values because they store only unique values.
set={10,37,37,"hemant","hemant"}
set

{10, 37, 'hemant'}

In [15]:
#Q-14 How does the “in” keyword work differently for lists and dictionaries?
#Ans- "in" keyword is used with lists it searches value sequentially while "in" keyword is used with dictionaries it checks keys not values.

In [16]:
#Q-15 Can you modify the elements of a tuple? Explain why or why not.
#Ans-No, we can't modify the elements of tuples because tuples are immutable.once a tuple is created its elements cannot be changed,added,removed.
t=(10,20,30,"hemant")
t[2]=100              #it gives error

TypeError: 'tuple' object does not support item assignment

In [17]:
#Q-16 What is a nested dictionary, and give an example of its use case?
#Ans- A nested dictionary is dictionary inside another dictionary.
# example-If want to store data of employee records.
employee_records={
    "E101":{"name":"hemant","role":"data scientist","salary":100000},
    "E102":{"name":"sudha","role":"lecturer","salary":78000},
    "E103":{"name":"hemlata","role":"lecturer","salary":78000}
}
employee_records["E101"]["salary"]

100000

In [18]:
#Q-17 Describe the time complexity of accessing elements in a dictionary.
#Ans- we accessing the elements of dictionaries by get() function or key.
print(employee_records.get("E101").get("name"))
print(employee_records["E102"]["name"])

hemant
sudha

In [19]:
#Q-18 In what situations are lists preferred over dictionaries?
#Ans- when we need index based access which is more suitable for sequential access.
    #If we want to store similar data without unique key's we prefer lists over dictionaries.

In [20]:
# Q-20  Explain the difference between a list and a dictionary in terms of data retrieval.
# Ans-  list retrieve data on the basis of indexes while dictionaries retrieve data on the basis of key's.

# Practical Questions

In [21]:
#Q-1  Write a code to create a string with your name and print it.
name="Hemant"
print(name)

Hemant

In [22]:
#Q-2 Write a code to find the length of the string "Hello World".
len("Hello World")

11

In [23]:
#Q-3  Write a code to slice the first 3 characters from the string "Python Programming".
s="Python Proramming"
s[0:3]

'Pyt'

In [24]:
#Q-4 Write a code to convert the string "hello" to uppercase.
s1="hello"
s1.upper()

'HELLO'

In [25]:
#Q-5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
s2="I like apple"
s2.replace("apple","orange")

'I like orange'

In [26]:
# Q-6 Write a code to create a list with numbers 1 to 5 and print it.
list=[]
for i in range(1,6):
    list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [27]:
#Q-7 Write a code to append the number 10 to the list [1, 2, 3, 4].
l=[1,2,3,4,5]
l.append(10)
print(l)

[1, 2, 3, 4, 5, 10]

In [28]:
# Q-8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [29]:
#Q-9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
l[1]

'b'

In [30]:
#Q-10  Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

In [31]:
# Q-11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [32]:
# Q-12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red','green','blue','yellow')
t[1:]

('green', 'blue', 'yellow')

In [33]:
#Q- 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15)
min(t)

5

In [34]:
#Q- 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog','cat','rabbit')
t.index('cat')

1

In [35]:
#Q-15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=("orange","mango","kiwi")
if "kiwi" in t:
    print("kiwi is present")
else:
    print("kiwi is not present")

kiwi is present

In [36]:
# Q-16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

In [37]:
#Q- 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [38]:
#Q- 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num={1,2,3,4}
num.remove(4)
num

{1, 2, 3}

In [39]:
#Q- 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
A={1,2,3}
B={3,4,5}
A|B

{1, 2, 3, 4, 5}

In [40]:
#Q- 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
A={1,2,3}
B={2,3,4}
A&B

{2, 3}

In [41]:
#Q- 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"hemant","age":25,"city":"mahenderagrh"}
dict

{'name': 'hemant', 'age': 25, 'city': 'mahenderagrh'}

In [42]:
#Q- 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name':'john','age':25}
dict['country']='USA'
dict

{'name': 'john', 'age': 25, 'country': 'USA'}

In [43]:
#Q-23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name':'Alice','age':30}
dict['name']

'Alice'

In [44]:
#Q- 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name':'Bob','age':22,'city':'New york'}
dict.pop('age')
dict

{'name': 'Bob', 'city': 'New york'}

In [45]:
#Q- 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name':'Alice','city':'paris'}
if 'city' in dict:
    print("city exists")
else:
    print("city not exists")

city exists

In [46]:
#Q-26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[10,20,40,3+5j,"hemant"]
tuple=(10,30,50,60)
dict={'name':'hemant','age':25,'salary':120000}
print(list)
print(tuple)
print(dict)

[10, 20, 40, (3+5j), 'hemant']
(10, 30, 50, 60)
{'name': 'hemant', 'age': 25, 'salary': 120000}

In [47]:
#Q- 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import random
random_numbers= random.sample(range(1,101),5)
random_numbers.sort()
print("sorted random numbers:",random_numbers)

sorted random numbers: [10, 42, 73, 80, 90]

In [48]:
#Q-28. Write a code to create a list with strings and print the element at the third index.
city=["jaipur","delhi","gurugram","chandigarh","noida"]
city[3]

'chandigarh'

In [49]:
#Q-29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"hemant","age":25,"salary":120000}
dict2= {"department":"data science","city":"gurugram"}
dict1.update(dict2)
dict1

{'name': 'hemant',
 'age': 25,
 'salary': 120000,
 'department': 'data science',
 'city': 'gurugram'}

In [1]:
#Q-30. Write a code to convert a list of strings into a set.
l= ["rohan","manju","mahipal","rajesh","hemant","manju","sushila"]
s=set(l)
print(s)

{'rajesh', 'rohan', 'manju', 'sushila', 'hemant', 'mahipal'}